{% extends "suggestionsapp/base_page.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Sampletext</p>
    </div>
    <div class="starter-template">
        <h1>Top suggestions</h1>
        <div class="list-group">
        {% for object in suggestion_list %}
            <a href="{% url 'suggestion-detail' pk=object.pk %}" class="list-group-item">
                {# {% include "suggestionsapp/vote_widget.html" %} #}
                <h2 class="list-group-item-heading">
                    {{ object.title }}
                </h2>
                <p class="list-group-item-text">
                    {{ object.description|truncatechars:25 }}
                </p>
            </a>
        {% endfor %}
        </div>
    </div>

</div><!-- /.container -->

{% endblock content %} 