{% extends "suggestionsapp/base_page.html" %}
{% block content %}

<div class="container">
    {% block jumbotron %}
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Sampletext</p>
    </div>   
    {% endblock jumbotron %}
    <div id="floater-wrapper">
        <div class="alert alert-success" id="upvote-success-message">
            Upvote successful!
        </div>
        <div class="alert alert-success" id="downvote-success-message">
            Downvote successful!
        </div>
    </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h1>{% block section_title %}Top suggestions{% endblock %}</h1>
        <div class="list-group">
        {% for object in suggestion_list %}
            <span class="list-group-item">
                <a href="{% url 'suggestion-detail' pk=object.pk %}">
                    <span class="suggestion-preview-text">
                        <h2 class="list-group-item-heading">
                            {{ object.title }}
                        </h2>
                        <p class="list-group-item-text">
                            {{ object.description|truncatechars:75 }}
                        </p>
                    </span>
                </a>
                <span class="voting">
                    {% include "suggestionsapp/vote_widget.html" %}
                    <form class="vote-form upvote-form" method="post" action="" style="display:none">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ object.pk }}">
                        <input type="hidden" name="method" value="upvote">
                    </form>
                    <form class="vote-form downvote-form" method="post" action="" style="display:none">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ object.pk }}">
                        <input type="hidden" name="method" value="downvote">
                    </form>
                </span>
            </span>
        {% endfor %}
        <span class="list-group-item">
            {# This will be the "see more" button #}
            See more ({{ SUGGESTION_COUNT }} total)
        </span>
    </div>

</div><!-- /.container -->

{% endblock content %} 