@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic")

span.voting
	margin-left: auto
	
	div.vote
		transition: all 0.75s
		transform: rotate(0deg)
		animation: none
		&.loading
			animation: rotate 3s linear infinite
@keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)

.navbar-brand
	white-space: nowrap

#navbar
	width: 100%

#create-account-button
	margin-left: auto

nav .container
	display: flex
	align-items: center

#navbar ul
	display: flex
	align-items: center
	width: 100%

.suggestion-preview-text
	display: flex
	flex-direction: column
	justify-content: center

.list-group-item
	display: flex

.upvote-success-message
	position: fixed
	left: 50%
	// TODO: Make this a true horizontal center
	top: 0
	z-index: 1030
	color: white
	box-sizing: border-box
	padding: 2rem 10rem
	border: 1px solid red
	