.vote-widget {
	float: right;
}
.navbar-brand {
	white-space: nowrap;
}
/*#navbar {
	width: 100%;
}*/
#create-account-button {
	margin-left: auto;
}
nav .container {
	display: flex;
	align-items: center;
}

#navbar ul, #navbar {
	display: flex !important;
	align-items: center;
	width: 100%;
}
#navbar ul.navbar-right {
    width: auto;
}