alabaster==0.7.8
asgi-redis==0.13.1
asgiref==0.13.3
autobahn==0.14.1
Babel==2.3.4
channels==0.15.0
daphne==0.13.0
dappr==0.5
dj-database-url==0.4.1
Django==1.9.6
django-braces==1.9.0
django-pipeline==1.6.8
docutils==0.12
gunicorn==19.5.0
imagesize==0.7.1
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.7
oauthlib==1.1.2
psycopg2==2.6.1
Pygments==2.1.3
pytz==2016.4
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.4
Twisted==16.2.0
txaio==2.5.1
whitenoise==3.2
zope.interface==4.2.0
